<div class="row">
  <div class="col-md-4">
    <img
      alt="Poster"
      class="img-fluid rounded poster"
      src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}"
      height="500"
    />
  </div>
  <div class="col-md-8">
    <h1 class="display-2">{{ movie.title }}</h1>
    <hr />
    <p class="lead">{{ movie.overview }}</p>
    <div *ngFor="let genre of movie.genres">
      <p>{{ genre.name }}</p>
    </div>
    <p class="lead"><strong>Views: </strong>{{ movie.popularity }}</p>
  </div>
</div>

<!-- <div class="row p-1" style="border: 1px solid red">
  <div class="col-md-4" style="border: 1px solid green"></div>
  <div class="col-md-8" style="border: 1px solid green">
    <div class="row" style="border: 1px solid black">row1</div>
    <div class="row" style="border: 1px solid black; height: 10vh">row2</div>
    <div class="row" style="border: 1px solid black">row2</div>
  </div>
</div> -->
